@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: keep-all;
}

:root {
  --main-bg-color: brown;
}

a {
  color: #2f96d9;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0 0 1.6rem;
}

ul {
  padding: 0;
  padding: 0;
  margin: 0 0.9rem;
  color: #333333;
  font-size: 0.8em;
  list-style: lower-roman;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.3;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
}

.removeMargin {
  margin: -10px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
